.fixed {
  position:fixed;
}

.body-admin-login h2, .body-admin-login .logo {
  display:none;
}

select {
  -moz-appearance: none !important;
}

form .row .row.row-tickboxes {
    margin: 0.5rem -0.5rem;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
  font-size:0.7rem
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
    margin-left: 0.3rem;
}

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, .sub-nav dt a, .sub-nav dd a, .sub-nav li a {
    padding: 0.1875rem 0.4rem;
}

.standings-header {
    background-color: #333333;
    color: #eeeeee;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
    font-size: 0.6rem;
    font-weight: normal;
    text-transform: uppercase;
    padding-top:0.9375rem;
    padding-bottom:0.9375rem;
}

.standings-table .row.standings-header-event {
  padding:0;
}

.standings-table .button{margin:0;}

.row-alt {
  background: #dedede;
}

.standings-table .row {
    padding-top:0.9375rem;
    padding-bottom:0.9375rem;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  line-height:2rem;
  display:block;
  font-size:80%;
  color:#008cba;
}

.bar {
    height: 18px;
    background: green;
}

.loading img{opacity:0.2}
.loading {background: #fff url("../images/ajax-loader.gif") no-repeat center center;min-height:150px;}

